#privacy {
		position: relative;
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: left;
		/*background: #3f4f48;*/
		padding: 5em 0 5em 0;
		margin: 0;
		background-size: 125% auto;
	}


	#privacy .content {
		margin-left: 5em;
		margin-right: 5em;
	}

	#privacy p {
		/*font-weight: 600;*/
		font-size: 0.8em;
		/*letter-spacing: 10px;*/
	}

	#privfooter {
		color: #fff;
		text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
		text-align: center;
		margin: 4.5em 0 0 0;
	}